@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  display: grid;
  grid-template-columns: [fullbleed-start]1rem [content]minmax(0, 400px) [fullbleed-end]1rem;
  grid-template-rows: [header]auto [main]1fr auto[footer];
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}
main {
  grid-column: content;
  grid-row: main;
}
#link::after {
  content: "";
  position: absolute;
  inset: 0;
}

/* Buttons */
/* isFilled? */
.primary {
  background-color: rgb(137, 196, 196);
}
.opaque {
  background-color: rgba(255, 255, 255, 0.2);
}
.noFill {
  background-color: rgb(137, 196, 196, 0);
}

/* sizes */
.sm {
  padding-inline: 0.2rem;
  padding-block: 0.2rem;
}
.md {
  padding-inline: 0.8rem 1rem;
  padding-block: 0.8rem;
}
